{% extends "base.html" %}
{% load static %}

{% block title %}مجلة شام | الرئيسية{% endblock %}

{% block extra_head %}
    <!-- إذا كان هناك CSS خاص فقط بهذه الصفحة، يمكن إضافته هنا -->
{% endblock %}

{% block content %}
    <section class="section-main">
      <main>
        <div class="stack">
          <div class="card">
            <img src="{% static 'images/vip01.jpg' %}" alt="VIP Image 1" />
          </div>
          <div class="card">
            <img src="{% static 'images/vip02.jpg' %}" alt="VIP Image 2" />
          </div>
          <div class="card">
            <img src="{% static 'images/vip03.jpg' %}" alt="VIP Image 3" />
          </div>
          <div class="card">
            <img src="{% static 'images/vip04.jpg' %}" alt="VIP Image 4" />
          </div>
          <div class="card">
            <img src="{% static 'images/vip05.jpg' %}" alt="VIP Image 5" />
          </div>
          <div class="card lastCard">
            <img src="{% static 'images/vip06.jpg' %}" alt="VIP Image 6" />
          </div>
        </div>
        <div class="content">
          <h1 data-translate-key="mainPageTitle">الرئيسية</h1>
          <p data-translate-key="mainPageDescription">
            موقع مجلة جامعة الشام هو منصة أكاديمية تهدف إلى نشر الأبحاث العلمية
            التي تسهم في تعزيز المعرفة الأكاديمية في مختلف التخصصات، يتم تحديث
            الموقع بشكل دوري لعرض الأبحاث الحديثة التي تم قبولها للنشر في المجلة
            ، يتيح الموقع تصفح المقالات والأبحاث والاطلاع على الاعداد السابقة من
            المجلة دون الحاجة إلى إنشاء حساب ، كما يقتصر الوصول إلى عملية تسجيل
            الدخول على الأدمين المسؤول عن إدارة المحتوى والإشراف على العمليات
            المتعلقة بالموقع.
          </p>
          <a href="https://sham-university.com/" target="_blank" class="btn" data-translate-key="officialWebsiteBtn">الموقع الرسمي للجامعة</a>
        </div>
      </main>
    </section>

    <section class="section-two">
      <h2 data-translate-key="editorialBoardWordTitle">كلمة هيئة التحرير</h2>
      <p data-translate-key="editorialBoardP1">
        يشكل العمل البحثي الركن الأهم في تطوير العمل الجامعي والأكاديمي،
        فالجامعات اليوم حريصة بشكل كبير على دعم الأبحاث، وتوفير كل ما من شأنه
        تطوير مستواها، لأن معايير تصنيف الجامعات تولي العمل البحثي أهمية كبيرة.
      </p>
      <p data-translate-key="editorialBoardP2">
        فعلى سبيل المثال تقوم طريقة جامعة "Shanghai Jiao Gong" للتصنيف على
        أربعة معايير رئيسة، هي: "جودة التعليم"، "قدرات أعضاء هيئة التدريس"،
        "الإنتاج البحثي"، و"الانجاز الأكاديمي" بالنسبة لحجم المؤسسة العلمية؛
        ويحظى معيار الانتاج البحثي (مخرجات البحث) بنسبة 40 في المائة من التقييم. كما يعطي
        تصنيف Webmetrics للجامعات نسبة 15 في المائة لنشاطها في البحث العلمي.
      </p>
      <p data-translate-key="editorialBoardP3">
        باختصار، يمكن القول إن غالبية معايير التصنيف العالمية للجامعات، تشير
        بشكل قاطع إلى أنه لا مكان للجامعات غير البحثية في قائمة أفضل خمسمائة
        جامعة على مستوى العالم، لذلك تولي جامعة الشام أهمية قصوى لهذا الجانب على
        المستوى الخارجي من خلال النشر العلمي في مجلات عالمية مصنفة وذات معاملات
        تأثير جيدة.
      </p>
      <p data-translate-key="editorialBoardP4">
        وعلى المستوى الداخلي من خلال النشر في "مجلة شام للعلوم التطبيقية
        والاجتماعية". تستمر المجلة قدماً في نشر مزيد من الأبحاث التي تعالج قضايا
        ومشاكل واقعية، عامةٍ وخاصة بالشأن السوري، تتوزع على تخصصات متنوعة، ويعمل
        عليها بشكل أساسي باحثون من جامعة الشام، بالإضافة إلى باحثين من مؤسسات
        تعليمية وعلمية أخرى.
      </p>
      <h2 class="txt-footer" data-translate-key="finalBlessing">والله ولي التوفيق</h2>
    </section>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/slider_images.js' %}"></script>
{% endblock %}